@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos {
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Usuarios</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success" id="btnNuevo"><i class="fas fa-user-plus"></i> Nuevo Usuario</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th class="col-1">Nombre</th>
                            <th class="col-1">Apellido</th>
                            <th>Documento</th>
                            <th class="col-1">Documento</th>
                            <th class="col-2">Correo</th>
                            <th class="col-2">Rol</th>
                            <th class="col-1">Estado</th>
                            <th class="col-1">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Registrar Usuario</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="txtId">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtNombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNombre" name="Nombre" required>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtApellido" class="form-label">Apellido</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtApellido" name="Apellido" required data-val="true">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cboDocumento">Documento</label>
                                    <select class="form-control form-control-sm" id="cboDocumento" required>
                                        <option>DNI</option>
                                        <option>Carnet</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtNumeroDocumento">NumeroDocumento</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNumeroDocumento" name="NumeroDocumento" required
                                           placeholder="N° Documento" data-val="true" data-val-length="El N° Documento: no puede tener más de 20 caracteres y menos de 8 caracteres"
                                           data-val-length-max="20" data-val-length-min="8" data-val-required="Debe ingresar el n° de documento." id="NumeroDocumento" maxlength="20" value="">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="txtCorreo">Correo</label>
                                    <input type="email" class="form-control form-control-sm input-validar" id="txtCorreo" name="Correo" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cboRol">Rol</label>
                                    <select class="form-control form-control-sm" id="cboRol" required>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalData1" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Editar Usuario</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="txtId1">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">

                                <div class="form-group col-sm-6">
                                    <label for="txtNombre1" class="form-label">Nombre</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNombre1" name="Nombre" disabled>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtApellido1" class="form-label">Apellido</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtApellido1" name="Apellido" disabled>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cboDocumento1">Documento</label>
                                    <select class="form-control form-control-sm" id="cboDocumento1" disabled>
                                        <option>DNI</option>
                                        <option>Carnet</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtNumeroDocumento1">NumeroDocumento</label>
                                    <input type="number" class="form-control form-control-sm input-validar" id="txtNumeroDocumento1" name="NumeroDocumento" disabled
                                           placeholder="N° Documento" data-val="true" data-val-length="El N° Documento: no puede tener más de 20 caracteres y menos de 8 caracteres"
                                           data-val-length-max="20" data-val-length-min="8" data-val-required="Debe ingresar el n° de documento." id="NumeroDocumento" maxlength="20" value="">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtCorreo1">Correo</label>
                                    <input type="email" class="form-control form-control-sm input-validar" id="txtCorreo1" name="Correo" disabled>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="cboRol1">Rol</label>
                                    <select class="form-control form-control-sm" id="cboRol1" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cboEstado1">Estado</label>
                                    <select class="form-control form-control-sm" id="cboEstado1">
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnEditar">Editar</button>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalData2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Información Usuario</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="txtId2">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">

                                <div class="form-group col-sm-6">
                                    <label for="txtNombre2" class="form-label">Nombre</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNombre2" name="Nombre" disabled>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtApellido2" class="form-label">Apellido</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtApellido2" name="Apellido" disabled>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cboDocumento2">Documento</label>
                                    <select class="form-control form-control-sm" id="cboDocumento2" disabled>
                                        <option>DNI</option>
                                        <option>Carnet</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtNumeroDocumento2">NumeroDocumento</label>
                                    <input type="number" class="form-control form-control-sm input-validar" id="txtNumeroDocumento2" name="NumeroDocumento" disabled
                                           placeholder="N° Documento" data-val="true" data-val-length="El N° Documento: no puede tener más de 20 caracteres y menos de 8 caracteres"
                                           data-val-length-max="20" data-val-length-min="8" data-val-required="Debe ingresar el n° de documento." id="NumeroDocumento" maxlength="20" value="">

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtCorreo2">Correo</label>
                                    <input type="email" class="form-control form-control-sm input-validar" id="txtCorreo2" name="Correo" disabled>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="cboRol2">Rol</label>
                                    <select class="form-control form-control-sm" id="cboRol2" disabled>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cboEstado2">Estado</label>
                                    <select class="form-control form-control-sm" id="cboEstado2" disabled>
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/Usuario.js"></script>
}