@section Estilos {

    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">


}
<div class="container">
    <!-- Barra Superior -->
    <div class="header">
        <h1>Toma de Inventario</h1>
        <button id="btnDescargarExcel" class="btn btn-primary">Descargar Excel</button>
        <button id="btnDescargarExcelReporte" class="btn btn-primary">Reporte Excel</button>
    </div>
    <br />
    <!-- Sección de Búsqueda -->
    <div class="search-section">
        <h3>Actual</h3>
        <select id="cboBuscarProducto" class="form-control w-80">
            <option value=""></option>
        </select>

        <table class="table table-bordered mt-3 tbProducto">
            <thead>
                <tr>
                    <th class="col-1 sorting">ID Producto</th>
                    <th class="col-3 sorting">Código de Barra</th>
                    <th class="col-3 sorting">Nombre</th>
                    <th class="col-2 sorting">Stock Actual</th>
                    <th class="col-2 sorting">Stock</th>
                    <th class="col-1 sorting">Accion</th>
                </tr>
            </thead>
            <tbody id="detalle1">
            </tbody>
        </table>
    </div>
    <br />
    <!-- Sección de Modificación -->
    <div class="edit-section">
        <h3>Modificar Stock</h3>
        <form id="formModificarStock">
            <div class="form-group">
                <label for="txtRazon">Razón de la Modificación:</label>
                <textarea id="txtRazon" class="form-control" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="DocumentoPersonaDesignada">Documento</label>
                <select id="DocumentoPersonaDesignada">
                    <option>DNI</option>
                    <option>Carnet de Extranjeria</option>
                </select>
                <label for="NumeroDocumentoPersonaDesignada">Numero de Documento</label>
                <input type="text" name="NumeroDocumentoPersonaDesignada" id="NumeroDocumentoPersonaDesignada"/>

                <label for="PersonaDesignada">Persona Designada</label>
                <input type="text" name="PersonaDesignada" id="PersonaDesignada"/>

                <label for="FechaRealizada">Fecha Realizada</label>
                <input type="date" name="FechaRealizada" id="FechaRealizada"/>
            </div>
            <button type="submit" class="btn btn-primary" id="btnMantenimiento">Guardar Cambios</button>
        </form>
        <br />
            <button type="submit" class="btn btn-primary" id="btnTest">Test</button>
    </div>
</div>
<script>
    document.getElementById('btnDescargarExcel').addEventListener('click', function () {
        // Hacer una solicitud GET para descargar el Excel
        window.location.href = '/Producto/TomaInventarioExcel';
    });

    document.getElementById('btnDescargarExcelReporte').addEventListener('click', function () {
        // Hacer una solicitud GET para descargar el Excel
        window.location.href = '/Producto/ReporteExcel';
    });
</script>
@section Scripts{
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>
    <script src="~/js/vistas/Toma.js"></script>
}